@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    background-color: #FFFFFF;
}

h1 {
    color: #0a4882;
    margin-left: 30px;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
}

h2{
    font-size: 30px;
    color: #0a4882;
    margin-bottom: 10px;
}

h3 {
    color: #A31621;
}

header {
    width: 100%;
    height: 100px;
    background-color: #E0E0E0;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    z-index: 10000000000;
    justify-content: space-between;
}

.conteudo{
    margin-top: 140px;
    .text{
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        margin-right: 40px;
        gap: 10px;
    }
    p{
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        text-align: left;
    }
}

.meio{
    margin: auto;
    margin-top: 45px;
    display: flex;
    height: 100%;
    width: 95%;
    .esquerda{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: calc(50% - 12px);
        #indicadores_title{
            margin-bottom: 10px;
        }
        #indicadores{
            display: flex;
            flex-wrap: wrap;
            gap: 20px !important;
        }
        #id_Indicador1{
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: #595959;
            text-align: center;
            width: 245px;
            height: 27px;
            max-height: 400px;
            border: none;
            background-color: #D9D9D9;
            border-radius: 8px;
        }
        #id_Indicador2{
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: #595959;
            text-align: center;
            width: 245px;
            height: 27px;
            max-height: 200px;
            border: none;
            background-color: #D9D9D9;
            border-radius: 8px;
        }
        #indicadores_input{
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: #595959;
            text-align: center;
            width: 120px;
            height: 27px;
            border: none;
            background-color: #D9D9D9;
            border-radius: 8px;
        }
        #correlacao_mensage{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-items: left;
            justify-content: center;
            margin-top: 30px;
            font-family: 'Inter', sans-serif;
            text-align: left;
            font-size: 15px;
        }
        #correlacao_mensage p{
            min-width: 530px;
        }
        #correlacao_mensage p strong{
            font-family: 'Inter', sans-serif;
            font-size: 17px;
            font-weight: 600;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
        }
    }
    .direita{
        width: calc(50% - 12px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        .info_indicadores{
            display: flex;
            flex-wrap: wrap;
            width: 800px;
            border-radius: 4px;
            border: solid 2px #D9D9D9;

            .indicador1_info{
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 7px;
                flex-wrap: wrap;
                width: calc(50% - 32px);
            }

            .indicador2_info{
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 7px;
                flex-wrap: wrap;
                width: calc(50% - 32px);
            }

            .sem_indicadores{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                width: 100%;
                
            }
        }

        .info_indicadores strong{
            font-family: 'Inter', sans-serif;
            font-size: 17px;
            font-weight: 500;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
        }

        .info_correlacao{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 408px;
            width: 800px;
            border-radius: 4px;
            border: solid 2px #D9D9D9 ;

            .indicador1_corr{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin: 10px;
                gap: 5px;
                color: #55585C;
            }
            
            .indicador2_corr{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 10px;
                gap: 5px;
                color: #55585C;
            }
        }
    }
    .barra{
        display: flex;
        align-items: center;
        margin: 10px;
        width: 4px;
        border-radius: 3px;
        background-color: #D9D9D9;
    }
    justify-content: center;

}

.sem_indicadores{
    font-family: 'Stick No Bills', sans-serif;
    font-size: 30px;
    color: #BABABA;
}

@media (max-width: 1700px){
    .meio{
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        .barra{
            width: 96%;
            height: 4px;
        }
        .esquerda{
            width: 96%;
        }
        .direita{
            width: 96%;
            margin-bottom: 40px;
            margin-top: 30px;
            .info_indicadores{
                width: 100%;
                .indicador2_info, .indicador1_info{
                    width: 100%;
                }
            }
            .info_correlacao{
                width: 100%;
            }
        }

        p{
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            text-align: left;
        }
    }
}

.sidebar {
    height: 95%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #E0E0E0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 5px 10px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    background-color: #BABABA;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 100%;
    margin: 5px;
}

.openbtn {
    margin-right: 30px;
    font-size: 10px;
    cursor: pointer;
    background-color: #777777;
    color: white;
    padding: 10px 15px;
    border: none;
}

.sidebarContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#resultado{
    box-sizing: border-box;
    width: 100%;
    padding: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#resultado li{
    width: 100%;
    display: flex;
    border: #777777 solid 1px;
}

#resultado li:nth-child(1) span{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    border: #777777 solid 1px;
}

#resultado li span:nth-child(1){
    box-sizing: border-box;
    min-width: 35%;
    max-width: 35%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #E0E0E0;
    border: #777777 solid 1px;
}

#resultado li span:nth-child(2){
    box-sizing: border-box;
    min-width: 65%;
    max-width: 65%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #E0E0E0;
    border: #777777 solid 1px;
}

#filtro-botao{
    padding: 5px;
    background-color: #777777;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}


#campo-filtro{
    background-color: #E0E0E0;
    padding: 5px;
    border: black solid 1px;
    border-radius: 5px;
}