@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');

body {
    background-color: #FDFDFD;
    font-family: 'Maven Pro', sans-serif;
}

h1 {
    color: #0a4882;
    margin-left: 30px;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
}

h2 {
    font-size: 30px;
    color: #0a4882;
    margin-bottom: 10px;
}

h3 {
    color: #A31621;
}

header {
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg, transparent 0%, rgba(92, 134, 173, 1) 100%);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    z-index: 10000000000;
    justify-content: space-between;
}

.conteudo {
    margin-top: 140px;
    position: absolute;

    .text {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        margin-right: 40px;
        gap: 10px;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        text-align: left;
    }
}

.meio {
    margin: auto;
    position: relative;
    margin-top: 45px;
    display: flex;
    height: 100%;
    width: 95%;

    .esquerda {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: calc(50% - 12px);

        #indicadores_title {
            margin-bottom: 10px;
        }

        #indicadores {
            display: flex;
            flex-wrap: wrap;
            gap: 20px !important;
        }

        #id_Indicador1 {
            font-size: 16px;
            color: #595959;
            text-align: center;
            width: 245px;
            height: 27px;
            max-height: 400px;
            border: none;
            background-color: #D9D9D9;
            border-radius: 8px;
        }

        #id_Indicador2 {
            font-size: 16px;
            color: #595959;
            text-align: center;
            width: 245px;
            height: 27px;
            max-height: 200px;
            border: none;
            background-color: #D9D9D9;
            border-radius: 8px;
        }

        #id_Delay {
            font-size: 16px;
            color: #595959;
            text-align: center;
            width: 100px;
            height: 27px;
            max-height: 200px;
            border: none;
            background-color: #D9D9D9;
            border-radius: 8px;
        }

        #indicadores_input:enabled {
            font-size: 16px;
            color: white;
            text-align: center;
            width: 120px;
            height: 27px;
            border: none;
            background-color: #0a4882;
            border-radius: 8px;
        }

        #indicadores_input:disabled {
            font-size: 16px;
            color: #D9D9D9;
            text-align: center;
            width: 120px;
            height: 27px;
            border: none;
            background-color: #BABABA;
            border-radius: 8px;
        }

        #correlacao_mensage {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-items: left;
            justify-content: center;
            margin-top: 30px;
            text-align: left;
            font-size: 15px;
        }

        #correlacao_mensage p {
            min-width: 530px;
        }

        #correlacao_mensage p strong {
            font-weight: 600;
            font-size: 17px;
            font-weight: 600;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
        }
    }

    .direita {
        width: calc(50% - 12px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;

        .info_indicadores {
            display: flex;
            flex-wrap: wrap;
            width: 800px;
            border-radius: 4px;
            border: solid 2px #D9D9D9;

            .indicador1_info {
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 7px;
                flex-wrap: wrap;
                width: calc(50% - 32px);
            }

            .indicador2_info {
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 7px;
                flex-wrap: wrap;
                width: calc(50% - 32px);
            }

            .sem_indicadores {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                width: 100%;
            }
        }

        .info_indicadores strong {
            font-weight: 600;
            font-size: 17px;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
        }

        .info_correlacao {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 800px;
            min-height: 408px;
            border-radius: 4px;
            border: solid 2px #D9D9D9;
            padding: 10px 0px;
            gap: 10px;

            .tabela-azul {
                font-family: "Maven Pro", Times, serif;
                width: 45%;
                height: 400px;
                text-align: center;
                border-collapse: collapse;
                border: 2px solid #70AADA;
            }

            .tabela-azul caption {
                padding-bottom: 5px;
            }

            .tabela-azul td,
            th {
                padding: 4px 4px;
            }


            .tabela-azul tbody td a {
                font-size: 14px;
                color: black;
            }

            .tabela-azul thead {
                background: #70AADA;
                background: -moz-linear-gradient(top, #94bfe3 0%, #7eb2dd 66%, #70AADA 100%);
                background: -webkit-linear-gradient(top, #94bfe3 0%, #7eb2dd 66%, #70AADA 100%);
                background: linear-gradient(to bottom, #94bfe3 0%, #7eb2dd 66%, #70AADA 100%);
            }

            .tabela-azul thead th {
                font-size: 16px;

                color: #FFFFFF;
                text-align: center;
            }


            .tabela-vermelha {
                font-family: "Maven Pro", Times, serif;
                width: 45%;
                text-align: center;
                border-collapse: collapse;
                border: 2px solid #A54644;
            }

            .tabela-vermelha caption {
                padding-bottom: 5px;
            }

            .tabela-vermelha td,
            th {
                padding: 4px 4px;
            }

            .tabela-vermelha tbody td a {
                font-size: 14px;
                color: black;
            }

            .tabela-vermelha thead {
                background: #A54644;
                background: -moz-linear-gradient(top, #bb7473 0%, #ae5856 66%, #A54644 100%);
                background: -webkit-linear-gradient(top, #bb7473 0%, #ae5856 66%, #A54644 100%);
                background: linear-gradient(to bottom, #bb7473 0%, #ae5856 66%, #A54644 100%);
            }

            .tabela-vermelha thead th {
                font-size: 16px;

                color: #FFFFFF;
                text-align: center;
            }

        }
    }

    .barra {
        display: flex;
        align-items: center;
        margin: 10px;
        width: 4px;
        border-radius: 3px;
        background-color: #D9D9D9;
    }

    justify-content: center;

}

.sem_indicadores {
    font-family: 'Stick No Bills', sans-serif;
    font-size: 30px !important;
    color: #BABABA;
}

@media (max-width: 1700px) {
    .meio {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;

        .barra {
            width: 96%;
            height: 4px;
        }

        .esquerda {
            width: 96%;
        }

        .direita {
            width: 96%;
            margin-bottom: 40px;
            margin-top: 30px;

            .info_indicadores {
                width: 100%;

                .indicador2_info,
                .indicador1_info {
                    width: 100%;
                }
            }

            .info_correlacao {
                width: 100%;
            }
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            text-align: left;
        }
    }
}

.sidebar {
    height: 95%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #FDFDFD;
    overflow-x: hidden;
    transition: all 0.3s linear;
    padding-top: 60px;
}

.sidebar a {
    padding: 5px 10px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.openbtn {
    margin-right: 30px;
    font-size: 13px;
    cursor: pointer;
    background-color: #0a4882;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
}

.sidebarContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#resultado {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#resultado li {
    width: 100%;
    display: flex;
    border: #777777 solid 1px;
}

#resultado li:nth-child(1) span {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    border: #777777 solid 1px;
    font-weight: 600;
}

#resultado li span:nth-child(1) {
    box-sizing: border-box;
    min-width: 35%;
    max-width: 35%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #EEEEEE;
    border: #777777 solid 1px;
}

#resultado li span:nth-child(2) {
    box-sizing: border-box;
    min-width: 65%;
    max-width: 65%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #EEEEEE;
    border: #777777 solid 1px;

}

#filtro-botao {
    padding: 5px 10px;
    background-color: #0a4882;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 600;
}


#campo-filtro {
    background-color: #EEEEEE;
    ;
    padding: 5px;
    border-radius: 4px;
    width: 200px;
    border: 1px solid #595959
}

#campo-filtro:focus-visible {
    border: 1px solid #595959;
    outline: none;
}

#modal-indicador,
#modal-delay,
#modal-aviso {
    padding: 20px;
    display: none;
    position: absolute;
    width: 15%;
    height: 20%;
    background-color: #EEEEEE;
    border: #FFFFFF solid 1px;
    border-radius: 20px;
    justify-content: space-between;
    flex-direction: column;
    z-index: 1000000000000;
    top: 0;
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#enviar-dicionario,
#indicador1-button,
#indicador2-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: white;
    text-align: center;
    width: 100px;
    height: 27px;
    border: none;
    background-color: #0a4882;
    border-radius: 8px;
    text-decoration: none
}

#enviar-dicionario:hover,
#indicador1-button:hover,
#indicador2-button:hover {
    cursor: pointer;
    background-color: #4c91d1;
}


.show {
    display: flex !important;
}


.tabelas {
    display: flex;
    gap: 20px;
    width: 90%;
}

span.tooltip {
    position: relative;
    cursor: pointer;
}

span.tooltip:hover::before {
    content: attr(tooltip);
    display: block;
    position: absolute;
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    bottom: 100%;
    left: 100%;
    transform: translate(-3%, -5%);
    white-space: nowrap;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c5c5c5;
    border-radius: 8px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(156, 155, 155)171;
}