<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link rel="stylesheet" href="{% static '/tcc_app/reset.css' %}">
    <link rel="stylesheet" href="{% static '/tcc_app/style.css' %}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <header>
        <h1>TCC</h1>
    </header>
    <div class="conteudo">
        <div class="text">  
            <p>
                Essa plataforma se dedica a estudar e analisar as correlações entre diferentes indicadores econômicos, 
                sociais e ambientais do Brasil. Com uma interface intuitiva e fácil de usar, Stonks é uma ferramenta valiosa 
                para qualquer pessoa interessada em compreender melhor a realidade do Brasil e seus indicadores econômicos, sociais e 
                ambientais. Seja para fins acadêmicos, profissionais ou simplesmente por curiosidade.
            </p>
            <p>
                Os indicadores utilizados foram retirados do site Ipeadata, uma plataforma mantida pelo Instituto de Pesquisa Econômica Aplicada (IPEA), que 
                disponibiliza uma grande quantidade de informações relacionadas à economia, sociedade e meio ambiente do Brasil. Com 
                acesso a dados atualizados sobre inflação, crescimento econômico, desemprego, saúde, educação, meio ambiente e entre outros,
                o Ipeadata oferece uma visão abrangente e detalhada sobre a realidade do país.
            </p>
        </div>
        <div class="meio">
            <div class="esquerda">
                <p id="indicadores_title" >Selecione os indicadores:</p>
                <form id="form" method="POST">
                    {% csrf_token %}
                    <div id="indicadores">
                        {{ form }}
                        <input id="indicadores_input" type="submit" class="btn btn-primary" value="Enviar" />
                    </div>
                </form>
                <div id="graphDiv">
                    {{ graph_html|safe }}
                </div>
            </div>
            <div class="barra"> </div>
            <div class="direita">
                <div class="info_indicadores">
                    {% if indicador1 and indicador2 %}
                        <div class="indicador1_info">
                            <p><strong>Indicador:</strong> {{ indicador1.code }}</p>
                            <p><strong>Descrição:</strong> {{ indicador1.descricao }}</p>
                            <p><strong>Medida:</strong> {{ indicador1.medida }}</p>
                            <p><strong>Fonte:</strong> {{ indicador1.fonte }}</p>
                            <p><strong>Grande Tema:</strong> {{ indicador1.grande_tema }}</p>
                        </div>
                        <div class="barra"> </div>                        
                        <div class="indicador2_info">
                            <p><strong>Indicador:</strong> {{ indicador2.code }}</p>
                            <p><strong>Descrição:</strong> {{ indicador2.descricao }}</p>
                            <p><strong>Medida:</strong> {{ indicador2.medida }}</p>
                            <p><strong>Fonte:</strong> {{ indicador2.fonte }}</p>
                            <p><strong>Grande Tema:</strong> {{ indicador2.grande_tema }}</p>
                        </div>
                    {% else %}
                        <p class="sem_indicadores"> Selecione os indicadores </p>
                    {% endif %}

                </div>
                <div class="info_correlacao">
                    {% if indicador1 and indicador2 %}
                        <div class="indicador1_corr">
                            {{ tabela1|safe }}
                        </div>                     
                        <div class="indicador2_corr">
                            {{ tabela2|safe }}
                        </div>
                    {% else %}
                        <p class="sem_indicadores"> Selecione os indicadores </p>
                    {% endif %}
                </div>
            </div> 

        </div>
        <h3> Aqui vai ter uma aplicação do tcc do Cralo e do Joãozinho. </h3>
    </div>

   
</body>