<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="{% static '/tcc_app/reset.css' %}">
    <link rel="stylesheet" href="{% static '/tcc_app/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&display=swap" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <h1>TCC</h1>
        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <div class="sidebarContent">
                <h2> Lista de Indicadores </h2>
                <form id="filtro-form">
                    <input type="text" id="campo-filtro" placeholder="Buscar por uma palavra chave">
                    <button type="button" id="filtro-botao">Filtrar</button>
                </form>
                <ul id="resultado">

                </ul>
            </div>
        </div>
        <button class="openbtn" onclick="openNav()">☰ Dicionário de Indicadores</button>
    </header>
    <div class="conteudo">
        <div class="text">
            <p>
                Essa plataforma se dedica a estudar e analisar as correlações entre diferentes indicadores econômicos,
                sociais e ambientais do Brasil. Com uma interface intuitiva e fácil de usar, TCC é uma ferramenta
                valiosa
                para qualquer pessoa interessada em compreender melhor a realidade do Brasil e seus indicadores
                econômicos, sociais e
                ambientais. Seja para fins acadêmicos, profissionais ou simplesmente por curiosidade.
            </p>
            <p>
                Os indicadores utilizados foram retirados do site Ipeadata, uma plataforma mantida pelo Instituto de
                Pesquisa Econômica Aplicada (IPEA), que
                disponibiliza uma grande quantidade de informações relacionadas à economia, sociedade e meio ambiente do
                Brasil. Com
                acesso a dados atualizados sobre inflação, crescimento econômico, desemprego, saúde, educação, meio
                ambiente e entre outros,
                o Ipeadata oferece uma visão abrangente e detalhada sobre a realidade do país.
            </p>
        </div>
        <div class="meio">
            <div class="esquerda">
                <p id="indicadores_title">Selecione os indicadores:</p>
                <form id="form" method="POST">
                    {% csrf_token %}
                    <div id="indicadores">
                        {{ form.as_p }}
                        <button type="submit" id="indicadores_input">Enviar</button>
                    </div>
                </form>
                <div id="correlacao_mensage">
                    {% if correlacao %}
                    <p>Correlação entre {{ indicador1.code }} e {{ indicador2.code }}: <strong>{{ correlacao }}</strong>
                    </p>
                    {% endif %}
                    <p>O valor ideal de correlação está entre 0.9 e 0.95, ou entre -0.95 e -0.9.</p>
                </div>
                <div id="graphDiv">
                    {{ graph_html|safe }}
                </div>
            </div>
            <div class="barra"> </div>
            <div class="direita">
                <div class="info_indicadores">
                    {% if indicador1 and indicador2 %}
                    <div class="indicador1_info">
                        <p><strong>Indicador:</strong> {{ indicador1.code }}</p>
                        <p><strong>Descrição:</strong> {{ indicador1.descricao }}</p>
                        <p><strong>Medida:</strong> {{ indicador1.medida }}</p>
                        <p><strong>Fonte:</strong> {{ indicador1.fonte }}</p>
                        <p><strong>Grande Tema:</strong> {{ indicador1.grande_tema }}</p>
                    </div>
                    <div class="barra"> </div>
                    <div class="indicador2_info">
                        <p><strong>Indicador:</strong> {{ indicador2.code }}</p>
                        <p><strong>Descrição:</strong> {{ indicador2.descricao }}</p>
                        <p><strong>Medida:</strong> {{ indicador2.medida }}</p>
                        <p><strong>Fonte:</strong> {{ indicador2.fonte }}</p>
                        <p><strong>Grande Tema:</strong> {{ indicador2.grande_tema }}</p>
                    </div>
                    {% else %}
                    <p class="sem_indicadores"> Selecione os indicadores </p>
                    {% endif %}

                </div>
                <div class="info_correlacao">
                    {% if indicador1 and indicador2 %}
                    <table class="tabela-azul">
                        <caption>{{indicador1.code}}</caption>
                        <thead>
                            <tr>
                                <th style="border: 2px solid #70AADA !important">Codigo</th>
                                <th style="border: 2px solid #70AADA !important">Delay</th>
                                <th style="border: 2px solid #70AADA !important">Correlação</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dado in tabela1 %}
                                <tr>
                                    <td><a href="/filterhome/{{indicador1.code}}/{{dado.codigo}}/{{dado.delay}}">{{ dado.codigo }}</a></td>
                                    <td>{{ dado.delay }}</td>
                                    <td>{{ dado.correlacao }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <table class="tabela-vermelha">
                        <caption>{{indicador2.code}}</caption>
                        <thead>
                            <tr>
                                <th style="border: 2px solid #A54644 !important">Codigo</th>
                                <th style="border: 2px solid #A54644 !important">Delay</th>
                                <th style="border: 2px solid #A54644 !important">Correlação</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dado in tabela2 %}
                                <tr>
                                    <td> <a href="/filterhome/{{dado.codigo}}/{{indicador2.code}}/{{dado.delay}}">{{ dado.codigo }}</a></td>
                                    <td>{{ dado.delay }}</td>
                                    <td>{{ dado.correlacao }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p class="sem_indicadores"> Selecione os indicadores </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <script>
        var newUrl = window.location.protocol + "//" + window.location.host;
        window.history.pushState({}, document.title, newUrl);
        $(document).ready(function(){
            $('select[name="Indicador1"] option[value="label"]').attr('disabled','disabled');
            $('select[name="Indicador2"] option[value="label"]').attr('disabled','disabled');
            $('select[name="Delay"] option[value="label"]').attr('disabled','disabled');

            $('button[type="submit"]').prop('disabled', true);
            $('select').change(function(){
                var allSelected = true;
                $('select').each(function(){
                    console.log($(this).val())
                    if ($(this).val() ==  null) {
                        allSelected = false;
                    }
                });

                if (allSelected) {
                    $('button[type="submit"]').prop('disabled', false);
                } else {
                    $('button[type="submit"]').prop('disabled', true);
                }
            });
            
        });
        function openNav() {
            $(document).ready(function () {
                var filtro
                $('#filtro-botao').click(function () {
                    var filtro = $('#campo-filtro').val()
                    $.ajax({
                        url: '/filter',
                        type: 'GET',
                        data: { 'filtro': filtro ? filtro : '' },
                        dataType: 'json',
                        success: function (data) {
                            $('#resultado')[0].innerHTML = '<li><span>Code</span> <span>Descricao</span></li>';
                            for (var key in data.resultados) {
                                var temp = `<li class="open-modal" id="${data.resultados[key].CODE}" onclick="openModal(event)"> <span>` + data.resultados[key].CODE + " </span> <span>" + data.resultados[key].DESCRICAO + "</span> </li>";
                                $('#resultado').append(temp);
                            }

                        }
                    });
                })
                $.ajax({
                    url: '/filter',
                    type: 'GET',
                    data: { 'filtro': filtro ? filtro : '' },
                    dataType: 'json',
                    success: function (data) {
                        $('#resultado')[0].innerHTML = '<li><span>Code</span> <span>Descricao</span></li>';
                        for (var key in data.resultados) {
                            var temp = `<li class="open-modal" id="${data.resultados[key].CODE}" onclick="openModal(event)"> <span>` + data.resultados[key].CODE + " </span> <span>" + data.resultados[key].DESCRICAO + "</span> </li>";
                            $('#resultado').append(temp);
                        }
                    }
                });
            });
            var elemento = document.getElementById('mySidebar');
            if (elemento !== null) {
                document.getElementById("mySidebar").style.width = "50%";
            }

            var elemento = document.getElementById('main');
            if (elemento !== null) {
                document.getElementById("main").style.marginLeft = "250px";
            }
            modal()
        }

        function closeNav() {
            var elemento = document.getElementById('mySidebar');
            if (elemento !== null) {
                document.getElementById("mySidebar").style.width = "0";
            }

            var elemento = document.getElementById('main');
            if (elemento !== null) {
                document.getElementById("main").style.marginLeft = "0";
            }
        }

        function openModal(event){
            // Acessa o elemento clicado usando 'event.target'
            console.log('Elemento clicado:', event.target);
            console.log('Texto do elemento clicado:', event.target.textContent);
            var elemento = document.getElementById('myModal');
            elemento.classList.add('show');
        }
        function closeModal(){
            var elemento = document.getElementById('myModal');
            elemento.classList.remove('show');
        }
    </script>
</body>